---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>喜欢喵喵</li>
            <li>热爱健身</li>
            <li>爱听音乐</li>
            <li>经常旅行</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/Ashesttt" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://gitee.com/Ashesttt" target="_blank">Gitee</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>再多看一眼看一眼就会爆炸</li>
            <li>再近一点开紧一点快被融化</li>
            <li>看到这，你已经是一个小黑子了</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
                <a href="http://jerryestt.top" target="_blank">个人博客</a>
            </li>
            <li>
                <a href="http://jerryestt.top:4000" target="_blank">hjh的管理系统</a>
            </li>
            <li>
                <a href="http://jerryestt.top:3000" target="_blank">My first gym web</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
