---
import { SITE_TITLE, SITE_EMAIL } from "../consts.js";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts.js";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="/" target="_blank">个人博客</a>
            <a href="http://jerryestt.top:4000" target="_blank">hjh的管理系统</a>
            <a href="http://jerryestt.top:3000" target="_blank">My first gym web</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://github.com/Ashesttt" target="_blank">Github</a>
            <a href="https://gitee.com/Ashesttt" target="_blank">Gitee</a>
            <a href="https://www.douyin.com/user/MS4wLjABAAAABUZjFJk3HDRjeXXGDXFmbR5yrXDVgPdnb8WMEKnk-4Y">抖音</a>
          </div>

          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="http://jerryestt.top">Jerryestt</a>
            <a href="http://39.108.216.190/">Cassius0924's Blog</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`2018-${year}  ${SITE_NAME}`}
          <a href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2023008738号</a>
      </div>
    </div>
   </div>
  </div>
</div>
